body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0A3D62, #7AB7D8);
}

header {
  padding: 1rem;
  text-align: center;
  background: #184769;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #1E3799;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #6A89CC;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.current-weather {
  background: #1E3799;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 6px;
}

.charts canvas {
  margin-bottom: 2rem;
  background: rgba(255,255,255,0.9);
  border-radius: 8px;
  padding: 1rem;
}

h2 {
    color: #82CCDD;
}

h1 {
    color: #82CCDD;
}

p {
    color: #82CCDD;
}

.carte-retour {
  display: inline-block;
  background-color: #2e3a8c;
  color: #a8e0ff;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 225px;
}

#loading-screen {
  position: fixed;
  inset: 0;
  background: #222f3e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.6s ease-in-out;
}

.loading-content {
  text-align: center;
  transform: scale(1);
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.loading-text {
  font-size: 2rem;
  color: #82ccdd;
  margin-bottom: 20px;
  animation: fadeIn 1s forwards;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
}

.dot.flash {
  animation: blink 1s infinite;
}

.dot.flash:nth-of-type(2) { animation-delay: 0.2s; }
.dot.flash:nth-of-type(3) { animation-delay: 0.6s; }

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #333;
  border-top: 6px solid #82ccdd;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main-content {
  display: none;
  padding: 2rem;
  background: white;
}
